<!DOCTYPE html>
<html>

<head>
    <title>Cadastro de veículos</title>
</head>

<body>
    <h1>
        Listagem de Veículos
    </h1>
    <form>
    <table border="1">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Modelo</th>
                <th>Marca</th>
            </tr>
        </thead>
        <tbody>
            <% for(item of lista){ %>
                <tr>
                  <td><%= item.placa %></td>
                  <td><%= item.modelo %></td>
                  <td><%= item.marca %></td>
                </tr>
              <% } %>
        </tbody>
    </table>
    </tbody>
    </table>
    </form>
</body>

</html>